h1, h2, button {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    margin-bottom: .75rem;
}



.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}


/* Buttons */

.btn {
    border: none;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
}

.btn-primary {
    background-color: lightcoral;
    padding: .625rem 0;
    color: #fff;
    width: 90%;
    font-size: 1.5rem;
    border-radius: 35px;
    border: 8px solid #fff;
    transition: .75s;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(198, 90, 90);
    transition: .75s;
}

.btn-passenger {
    padding: .625rem 0;
    color: white;
    font-weight: bold;
    width: 48%;
    border-radius: 7px;
    transition: 30ms;
}



.buttons {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}



/* Passenger Counter */

.counter {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
    color: lightcoral;
    background-color: rgb(43, 75, 81);
    padding: 2em;
    border-radius: 1em;
}

.increment-btn {
    background: rgb(198, 90, 90);
}

.save-btn {
    background: lightcoral;
}




/* Shoe Purchase */

.error-challenge {
    background-color: lightcoral;
    padding: 2em;
    border-radius: 12px;
    align-items: center;
    margin: 1em 0 2em 0;
    /* border-bottom: solid 10px rgb(175, 74, 74);
    border-right: solid 9px rgb(175, 74, 74); */
}

.shoe-img {
    /* background-color: chocolate; */
    background-color: rgb(198, 90, 90);
    padding: 2em 3em;
    margin-bottom: 1em;
    border-radius: 2px;
    color: #fff;
}

#error {
    color: #fff;
}




/* Basic Calculator */

.calculator {
    background-color: lightgrey;
    padding: 2em .5em 1em;
    width: 35%;
    margin-bottom: 2em;
    border-radius: 1em;
}

.num-flex {
    display: flex;
    font-size: 4rem;
    color: rgb(198, 90, 90);
    margin-bottom: .3em;
}

.num {
    margin: .125em;
    border-bottom: solid 4px rgb(198, 90, 90);
}

.sum-flex {
    font-size: 3rem;
    color: rgb(198, 90, 90);
}


/* Scoreboard */

.scoreboard {
    width: 48%;
    padding: 2em;
    background-color:rgb(198, 90, 90);
    border-radius: 10px;
    color: #fff;
    margin-bottom: 2em;
}

.score-title {
    font-size: 3rem;
}

.score {
    font-size: 6rem;
    color: #fff;
}

.plus-button {
    background: none;
    border: solid 2px #fff;
    border-radius: 5px;
    width: 3em;
    height: 3em;
    margin: 0 .3em;
    color: #fff;
}

.new-game-btn {
    background: none;
    border: solid 2px #fff;
    border-radius: 5px;
    height: 3em;
    margin: 2em .3em 0em;
    padding: .5em 2em;
    color: #fff;
}

.plus-button:hover,
.plus-button:focus {
    background: lightcoral;
}

rgb(198, 90, 90);
}

.save-btn {
    background: lightcoral;
